article{
    display: grid;
    grid-template-areas: "one two three" 
                         "four four three" 
                         "four four seven"
                         "five six six"
                         "five six six";  
    gap: 7px;  
}

header {
    height: 10vh;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

nav h2 {
    font-size: 20px;
}
nav div {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

nav div a{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: grey;
    text-decoration: none;
    font-size: 15px;
}

nav img {
    display: none;
}

#pic1 {
    grid-area: one;
}

#pic2 {
    grid-area: two;
}

#pic3 {
    grid-area: three;
}

#pic4 {
    grid-area: four;
}

#pic5 {
    grid-area: five;
}

#pic6 {
    grid-area: six;
}

#pic7 {
    grid-area: seven;
}

img {
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 768px){
    article{
        display: grid;
        grid-template-areas: "one one two" 
                             "three three four" 
                             "three three seven"
                             "five six six"
                             "five six six";  
        gap: 7px;  
    }

    nav h2 {
        font-size: 30px;
    }
    nav div a {
        font-size: 20px;
    }
}

@media screen and (max-width: 500px){
    article {
        display: grid;
        grid-template-areas: "one" "two" "three" "four" "five" "six" "seven";
        gap: 7px;
    }

    nav h2 {
        font-size: 25px;
    }
    nav div {
        display: none;
    }

    nav img {
        display: flex;
        width: 15%;
        height: 100%;
    }
}